<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

</head>
<div class="pagecontainer">
  <header>
    <div class="title">

      Particle FX
      <p>desktop app</p>
    </div>
    <button class="smallbuttonmenu" (click)="InitParticles()">new</button>
    <button class="smallbuttonmenu" [matMenuTriggerFor]="menu">presets</button>
    <mat-menu #menu="matMenu">
      <button mat-raised-button (click)="LoadParticles1()">preset 1</button>
      <button mat-raised-button (click)="LoadParticles2()">preset 2</button>
      <button mat-raised-button (click)="LoadParticles3()">preset 3</button>
      <button mat-raised-button (click)="LoadParticles4()">preset 4</button>
      <button mat-raised-button (click)="LoadParticles5()">preset 5</button>
    </mat-menu>
    <button class="smallbuttonmenu" (click)="SaveParticles()">log preset</button>
    <button class="smallbuttonmenu" style="right: 20px; position: absolute;" (click)="openDialog()">?</button>
  </header>
  <div class="midsection">
    <section>
      <div>
        <div style="padding-top: 5px; background-color: rgb(48, 38, 38);">
          <mat-form-field class="example-margin example-width" style="width: 100px; padding: 0px; padding-right: 5px; margin-top: 8px;" (input)="onTimeChange($event)">
              <mat-label>{{sl1.label}}</mat-label>
              <input matInput type="number" [(ngModel)]="time">
            </mat-form-field>
          <mat-slider class="example-margin mat-body-small timeslider"
              [disabled]="sl1.disabled"
              [max]="sl1.max"
              [min]="sl1.min"
              [step]="sl1.step"
              [showTickMarks]="sl1.showTicks"
              [discrete]="sl1.thumbLabel">
          <input matSliderThumb [(ngModel)]="time" #slider (input)="onTimeChange($event)">
          </mat-slider>
        </div>
        <div class="left" id="container" #viewportcontainer>
  
        </div>
        <div class="animcurve">
          <div class="decorationborder">
            <p>Animation Curves go here</p>
            <div *ngFor="let particlesystem of particleSystems">
              <div *ngFor="let emitClass of particlesystem.emitClasses">
                <app-parameters [parameters]="emitClass.parameters"></app-parameters>
              </div>
            </div>
          </div>
          <!-- <app-curveeditor></app-curveeditor> -->
        </div>
      </div>

      <div class="right" id="containerB">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
          <mat-tab *ngFor="let particlesystem of particleSystems">
            <ng-template mat-tab-label class="controllers-title">
              <p>
                Particles
                {{getParticleSystemId(particlesystem)}}
              </p>
            </ng-template>
            <div class="controllers-title">
              <p>
                Emitter
              </p>
            </div>
            <mat-accordion mutli="false">
              <div *ngFor="let item of particlesystem.emittersParameters">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>{{item.name}}</mat-panel-title>
                  </mat-expansion-panel-header>
                  <div *ngFor="let slider of item.sliders">
                    <mat-form-field appearance="outline" style="width: 100px; padding: 0px" (input)="slider.onInputChange($event)">
                      <mat-label>{{slider.label}}</mat-label>
                      <input matInput type="number" [(ngModel)]="slider.value">
                    </mat-form-field>
                    <mat-slider class="example-margin mat-body-small"
                                [disabled]="slider.disabled"
                                [max]="slider.max"
                                [min]="slider.min"
                                [step]="slider.step"
                                [discrete]="slider.thumbLabel">
                      <input matSliderThumb [(ngModel)]="slider.value" #slider (input)="slider.onInputChange($event)">
                    </mat-slider>
                  </div>
                </mat-expansion-panel>
              </div>
              <div class="controllers-title">
                <p class="controllers-title">
                  Operators
                  <button mat-button [matMenuTriggerFor]="menu">Add Operator</button>
                  <mat-menu #menu="matMenu">
                    <div *ngFor="let forcetoadd of ForceClassNames | keyvalue">
                      <button mat-menu-item (click)="particlesystem.AddForceClassesByKey(forcetoadd.value)">{{forcetoadd.value}}</button>
                    </div>
                  </mat-menu>
                </p>
              </div>
              <div *ngFor="let item of particlesystem.forceClasses">
                <mat-expansion-panel [expanded]="panelOpenIndex">
                  <mat-expansion-panel-header>
                    <mat-panel-title style="overflow:hidden; border-radius: 6px;">{{item.name}}  </mat-panel-title>
                  </mat-expansion-panel-header>
                  <app-panelselector [component]="item.name" [forceinstance]="item"></app-panelselector>
                  <div class="smallbutton" (click)="RemoveForce(item, particlesystem)">remove</div>
                </mat-expansion-panel>
              </div>
            </mat-accordion>
          </mat-tab>
        </mat-tab-group>
      </div>

    </section>
  </div>

  <footer>

  </footer>
</div>
