* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  top: 0px;
}

/* Style the header */
header {
  background-color: rgb(14, 27, 43);
  background-image: url(/textures/carina.png);
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  padding: 30px;
  text-align: left;
  font-size: 35px;

}

mat-expansion-panel {
  margin-bottom: 1px;
  background-color: rgb(199, 193, 172);
}
mat-panel-title {
  background-color: rgb(91, 88, 77);
  padding: 8px;
  border-radius: 6px;
  color: white;
}

.timeslider {
  width: 80%;
}
.smallbutton {
  border: 1px solid white;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  background-color: white;
  color: gray;
  margin-top: 0px;
  font-size: 0.8em;
  cursor: pointer;
  max-width: 100px;
}

.smallbuttonmenu {
  border: 1px solid white;
  padding-top: 5px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  background-color: white;
  color: rgb(75, 75, 75);
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 0.45em;
  box-shadow: rgba(0,0,0,0.2) 5px 5px;
}

button {
  margin-left: 10px;
  background-color: white;
  margin-top: 4px;
}
.pagecontainer{
    max-width: 1500px;
    margin:auto;
    margin-top: 10px;
}
.controllers-title {
  font-size: 20px;
  padding: 5px;
} 
header h2 {
  font-size: 50px;
}
.title{
  float: left;
}
.title p{
  font-size: 0.6em;
}
.midsection {
  background-color: rgb(108, 104, 90);
}
.left {
  float: left;
  width: 75%;
  height: 500px; /* only for demonstration, should be removed */
  background: #ccc;
  border-radius: 6px;
}
.animcurve {
  float: left;
  width: 75%;
  background-color: rgb(48, 38, 38);
  color: white;
  border-radius: 6px;
}
.decorationborder{
  margin-top: 2px;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: rgb(99, 80, 80);
}

.right {
  padding: 8px;
  width: 25%;
  max-width: 390px;
  background-color: rgb(108, 104, 90);
  overflow-y: auto;
  /* height: 1000px;  only for demonstration, should be removed */
}
.right p{
    color: white;
}




/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 1000px) {
  .left {
    width: 100%;
    height: 300px;
  }
  .animcurve{
    width: 100%;
  }
  .right {
    max-width: 500px;
    width: 100%;
    height: auto;
  }

}
