<div class="pagecontainer">

  
  <div>
    <mat-tab-group (selectedTabChange)="TabChange($event)" mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms" id="tabgroup" >
      <mat-tab class="menuitem" label="Home"><app-home></app-home></mat-tab>
      <mat-tab class="menuitem" label="Particle System" id="secondtablabel"><div id="secondtabcontent"><app-particles-page [changedetector]="changedetector"></app-particles-page></div></mat-tab>
      <mat-tab class="menuitem" label="Projects on github"><app-gitprojects></app-gitprojects></mat-tab>
      <mat-tab class="menuitem" label="Early Work"><app-earlywork></app-earlywork></mat-tab>
      <mat-tab class="menuitem" label="Testbench"><app-testbench [changedetector]="changedetector"></app-testbench></mat-tab>
    </mat-tab-group>
  </div>
 </div>