

<div class="editorcontainer" id="container">
    <p>.</p>
    <svg id="svg" height="1px" width="100%" #keyframeeditorcontainer></svg>

</div>
<div class="parameters">
    <p>param</p>
    <div *ngFor="let item of vectors"><p>pos: {{item.x}} val: {{item.y}}</p></div>
</div>
<div #keyframeeditorcontainer *ngFor="let item of vectors">
    <div class="dragbox" appFreeDragging height="20" width="20" [keyframe]="item">
        <svg height="20" width="20">
            <circle id="circle-blue" cx="10" cy="10" r="9" stroke="black" fill="blue" />
        </svg>
    </div>
    <p>pos: {{item.x}} val: {{item.y}}</p>
</div>
<div class="curvebox">
</div>

