<button mat-button mat-dialog-close>Close</button>

<mat-dialog-content class="mat-typography">
    <h3>Particle System</h3>
    <p>This is an exercise in Typescript, Angular and ng Material.</p>
    <p>The endgoal is to have a complete framework for creating 3D content and animation.</p>

    <h3>How to use it:</h3>
    <p>Add operators and tweak parameters.</p>
    <p>At the moment the layout works best as a desktop application since there are many features and parameters that have to be displayed at once.</p>

    <h3>ToDo list:</h3>
    <ul>
        <li>Add a new emitter style that spawns particles from another particlesystem</li>
        <li>Upload and choose custom sprites (images)</li>
        <li>Animated sprites, change appearance over lifetime</li>
        <li>Stop particles from playing when not visible</li>
        <li>Add keyframe animation with a timeline and animatable parameters</li>
    </ul> 
</mat-dialog-content>