
.dynamic-element {
    height: 80%;
    width: 80%;
    background-color: red;
    position: absolute;
}
.bottomcontainer{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.curvescontainer{
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    height: 300px;
    width: 80%;
}

.clearfix {
    overflow: auto;
  }

.temp{

    height: 500px;
    width: 500px;
}

.controls {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 20px;
    background-color: rgb(46, 63, 75);
    border-style: solid;
    border-width: 2px;
    color: rgb(255, 255, 255);
    padding-top: 8px;
  }

.divtextblok {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: rgba(0,0,0,0.2) 5px 5px;
    background-color: rgb(46, 63, 75);
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    padding-top: 8px;
  }
.divtextblok p {
    font-size: 1.0em;
    text-align:left;
    padding-left: 30px;
    padding-right: 30px;
}
.divtextblok a {
    color:aqua;
}