<html>
    <body>
        <div class="bottomcontainer">
            <p>This code uses Threejs to display keyframe data. Keyframe data is an object that keeps coordinates of keyframes and handles. It has methods to calculate vales at a certain time, add, sort and remove keys.</p>
            <p>Use right mouse button to pan, middle and scrollwheel to zoom</p>
           </div>
        <div class="curvescontainer" id="container" #curvecontainer>
        
        </div>

    
    </body>
</html>

<!-- <p>curve editor</p> -->



