html {
    height: 100%;
}

body {
    text-align: center;
    height: 100%;
}
.dynamic-element {
    height: 80%;
    width: 80%;
    background-color: red;
    position: absolute;
  }
.curvescontainer{
    margin-left: auto;
    margin-right: auto;
    min-height: 500px;
    height: 80%;
    width: 80%;

    background-color: beige;
}
.bottomcontainer{
    position:absolute;
    height: 20%;
    background-color: rgb(64, 70, 82);
}
.clearfix {
    overflow: auto;
  }

.temp{

    height: 500px;
    width: 500px;
}