<div class="curvesbackground">

    <!-- <div class="divtextblok">
        <p>This code uses Threejs to display keyframe data. Keyframe data is an object that keeps coordinates of keyframes and handles. It has methods to calculate vales at a certain time, add, sort and remove keys.</p>
        <p>Use right mouse button to pan, middle and scrollwheel to zoom, doubleclick to add keyframes</p>
        </div> -->
    <div class="curvescontainer" id="container" #curvecontainer>
    
    </div>
    <div>
        <mat-form-field appearance="outline" class="example-margin example-width" style="width: 100px; padding: 0px;" (input)="onValueChange($event)">
            <mat-label>{{sl2.label}}</mat-label>
            <input matInput type="number" [(ngModel)]="value">
          </mat-form-field>
        <mat-slider class="example-margin mat-body-small timeslider"
            [disabled]="sl2.disabled"
            [max]="sl2.max"
            [min]="sl2.min"
            [step]="sl2.step"
            [discrete]="sl2.thumbLabel">
        <input matSliderThumb [(ngModel)]="value" #slider (input)="onValueChange($event)">
        </mat-slider>
    </div>
    <!-- <div class="controls">
    </div> -->
</div>
    


<!-- <p>curve editor</p> -->



