html {
    height: 100%;
}

body {
    text-align: center;
    height: 100%;
}
.dynamic-element {
    height: 80%;
    width: 80%;
    background-color: red;
    position: absolute;
}
.bottomcontainer{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.curvescontainer{
    margin-left: auto;
    margin-right: auto;
    min-height: 500px;
    min-width: 500px;
    height: 80%;
    width: 80%;

    background-color: beige;
}

.clearfix {
    overflow: auto;
  }

.temp{

    height: 500px;
    width: 500px;
}