<h1>Welcome!</h1>
<div class="common-container-page">
  <br />
  <div class="divtextblok">
    <!--<img style="float:left; width: 110px; margin: 15px" src="~/images/logo_blank.png" alt="logo_blank.png">-->
    <p>
      After a 20+ year long carrier in animation and visual effects I'm going in a new direction.<br />
      In 2021 and 2024 I had the opportunity to follow courses in Full Stack development in ASP.NET Core, C# and TypeScript (Angular).<br />
      I now have 2 years of experience in typescript game development for Starcasino in Brussels, I also did a lot of programming for my VFX work.<br />
      During and after my course I created several projects to grow my skills in programming and demonstrate my capabilities. The most important ones you can find on my github page: <a href="https://github.com/wimForton">https://github.com/wimForton</a>. <br />
      You can see the 3D framework I'm working on in action on this website.
    </p>
  </div>
</div>
